{% extends "layout.html" %}
{%block content%}
{% for id,data in emp_data.items() %}
    {% if data["Role"].lower()=="manager" %}
    <div>
        <table>
            <tr>
                <td>ID</td>
                <td>{{id}}</td>

            </tr>

            <tr>
                <td>Name</td>
                <td>{{data['Name']}}</td>

            </tr>
            <tr>
                <td>Company</td>
                <td>{{data["Comp"]}}</td>

            </tr>

            <tr>
                <td>Job Role</td>
                <td>{{data["Role"]}}</td>

            </tr>
        </table>

    </div>
    {% endif %}
{% endfor %}
{% endblock content %}